.pic {
  width: 388px;
  height: 388px;
  background-color: pink;
  margin: 244px auto 40px;
}
.tips1 {
  width: 528px;
  margin: 0 auto;
  color: #777494;
  font-family: PingFang SC;
  font-weight: medium;
  font-size: 32px;
  text-align: center;
}
.tips2 {
  width: 528px;
  margin: 0 auto;
  color: #777494;
  font-family: PingFang SC;
  font-weight: medium;
  font-size: 32px;
  text-align: center;
}
.button {
  border-radius: 64px;
  background: #625af8;
  width: 572px;
  color: #ffffff;
  margin-top: 272px;
}
