.commonWrapper {
  width: 698px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  .commonLeft {
    width: 100px;
    display: flex;
    padding-top: 6px;
    background-image: url(../../../../static/images/timeline.png);
    background-size: 4px 153px;
    background-repeat: no-repeat;
    background-position: 14px 58px;
    .big {
      width: 48px;
      height: 40px;
      text-align: center;
      color: #494670;
      font-family: PingFang SC;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      margin-right: 5px;
    }
    .small {
      margin-top: 10px;
      width: 30px;
      height: 30px;
      text-align: center;
      color: #494670;
      font-family: PingFang SC;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .commonRight {
    display: flex;
    flex-direction: column;
    width: 598px;
    height: 210px;
    padding: 36px 30px 40px;
    border-radius: 16px;
    background: #ffffff;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #1c184c;
      font-family: PingFang SC;
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 5px;
      .passed {
        color: #cdcce0;
        font-size: 28px;
      }
      .doing {
        color: #625af8;
        font-size: 28px;
      }
    }
    .info {
      margin-top: 10px;
      color: #777494;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
    }
  }
}


.volunteerWrapper {
  width: 698px;
  margin: 24px 0;
  .volunteer {
    display: flex;
    flex-direction: column;
    height: 378px;
    padding: 40px 24px 40px;
    border-radius: 16px;
    background: #ffffff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
    .passed {
      color: #cdcce0;
      font-size: 28px;
    }
    .doing {
      color: #625af8;
      font-size: 28px;
    }
  }
  .info {
    margin-top: 10px;
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }


  .btnWrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 88px;
    .btn {
      width: 240px;
      height: 72px;
      border-radius: 64px;
      background: #ffffff;
      border: 2px solid #625af8;
      color: #625af8;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 32px;
      line-height: 70px;
      text-align: center;
      margin-left: 25px;
      &_waitting {
        color: #cdcce0;
        border: 2px solid #cdcce0;
      }
      &_detail {
        color: #1678FE;
        border: 2px solid #1678FE;
      }
    }
  }
}


