.wrapper {
  display: flex;
  justify-content: space-between;
  height: 164px;
  padding-left: 22px;
  padding-right: 46px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  .left {
    .title {
      margin-top: 40px;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 36px;
      color: #1c184c;
      .num {
        margin-right: 20px;
      }
    }
    .time {
      margin-top: 16px;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 32px;
      color: #777494;
    }
  }
  .right {
    align-self: flex-end;
    width: 132px;
    height: 66px;
    border-top-left-radius: 66px;
    border-top-right-radius: 66px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    line-height: 80px;
  }
  .taken {
    background-color: #f2f1f9;
    color: #cecde8;
  }
  .forget {
    background-color: #ffe5ee;
    color: #ff6195;
  }
}
