.prompt{
    color: #FF6195;
    position: absolute;
    font-size: 26px;
    margin-left: 20px;
    top: 280px;
}
.ban{
    font-family: PingFang SC;
    font-size: 30px;
    color: #A4A3B7;
    text-align: center;
}