.wrapper {
  padding: 0 30px;
  .block {
    margin-top: 48px;
    .title {
      color: #777494;
      font-family: PingFang SC;
      font-weight: 500;
      font-size: 32rpx;
      line-height: 36px;
    }
  }
}
