.wrapper {
  height: 100vh;
  background: #ffffff;

  .volunteer {
    display: flex;
    flex-direction: column;
    height: 378px;
    padding: 40px 24px 40px;
    border-radius: 16px;
    background: #ffffff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
  }

  .info {
    margin-top: 10px;
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }

}
