.primaryButton {
  width: 572px;
  height: 92px;
  color: #FFFFFF;
  font-family: PingFang SC;
  font-weight: medium;
  font-size: 36px;
  line-height: 92px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 64px;
  background: #625AF8;
}
