.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 572px;
  height: 92px;
  color: #FFFFFF;
  font-family: PingFang SC;
  font-weight: medium;
  font-size: 36px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 64px;
  background: #625AF8;
}

.disabled {
  background: #CECDE8;
}
