.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 572px;
  height: 92px;
  color: #ffffff;
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 36rpx;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 64px;
  background: #625af8;
}

.disabled {
  background: #cecde8;
}
