.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 164px;
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
  .title {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #1C184C;
  }
  .time {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 26px;
    color: #777494;
  }
  .replyState {
    width: 132px;
    height: 132px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    position: absolute;
    bottom: -66px;
    right: 46px;
    border-radius: 70px;
  }
  .colorPass {
    color: #CECDE8;
    background-color: #F2F1F9;
  }
  .colorUnpass {
    color: #FF6195;
    background-color: #FFE5EE;
  }
}