.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 164px;
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  margin: 15px 0;
  .title {
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #1C184C;
  }
  .time {
    margin-left: 10px;
    font-weight: 400;
    font-size: 26px;
    color: #777494;
  }
}