.contain {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}
.wrap {
  padding-top: 40px;
  padding-left: 64px;
  .top {
    .title {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 36px;
      color: #1c184c;
      letter-spacing: 0.04em;
      margin-bottom: 20px;
    }
    .tips {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0.04em;
      color: #a4a3b7;
    }
  }

  .mid {
    margin-top: 54px;
    .iconWrap {
      display: flex;
      align-items: center;
      color: #494670;
      margin-bottom: 16px;
      .icon {
        width: 46px;
        height: 34px;
        padding-right: 10px;
      }
    }
    .inputWrapper {
      position: relative;
      .input {
        position: relative;
        z-index: 50;
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 44px;
        width: 622px;
        height: 88px;
        color: #494670;
        padding-left: 52px;
        padding-right: 76px;
        font-size: 30px;
        line-height: 48px;
        border: 3px solid #cdcce0;
        &::after {
          content: "";
          position: absolute;
          right: 45px;
          top: 22px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 30px 15px;
          border-color: transparent transparent #cdcce0 transparent;
          border-radius: 1px;
        }
        &.active {
          border: 3px solid transparent;
        }
        &.active::after {
          content: "";
          position: absolute;
          right: 45px;
          top: 22px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 30px 15px;
          border-color: transparent transparent #625af8 transparent;
          transform: rotate(180deg);
          transition: all 0.2s ease-in-out;
          border-radius: 1px;
        }
      }
      .select {
        width: 627px;
        height: 850px;
        border: 3px solid #625af8;
        border-radius: 20px;
        background-color: transparent;
        top: -2px;
        left: -2px;
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(20px);
        .itemWrapper {
          overflow-y: auto;
          height: 762px;
          margin: 88px 32px 0;
          border-top: 2px solid rgba(0, 0, 0, 0.05);
          &::-webkit-scrollbar {
            border-radius: 5px;
            width: 10px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            width: 10px;
            background: #d1ceff;
            border-radius: 5px;
          }
          .item {
            padding: 32px 20px;
            font-size: 30px;
            color: #494670;
          }
        }
      }
    }
  }
  .btn {
    width: 356px;
    height: 90px;
    position: fixed;
    z-index: 0;
    bottom: 40px;
    left: 25%;
    background: #625af8;
    border-radius: 64px;
    font-size: 36px;
    line-height: 90px;
    color: #ffffff;
  }
}
