.wrapper {
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
    .title {
      font-weight: bold;
      font-size: 34px;
      letter-spacing: 0.06em;
      color: #a4a3b7;
      opacity: 0.9;
      padding: 48px 0;

      &.active {
        color: #1c184c;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-image: url("../../../../static/images/underline.png");
          width: 52px;
          height: 18px;
          background-repeat: no-repeat;
          background-size: 98%;
          background-position: center;
          bottom: 20px;
          left: 50%;
          transform: translateX(-26px);
        }
      }
    }
  }

  .container {
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.emptyWrapper {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: 384px;
    height: 345px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .text {
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 4px;
    text-align: center;
  }
  .btn {
    margin-top: 316px;
  }
}
