.itemWrapper {
  padding: 80px 88px;
  .top {
    background: #ffffff;
    box-shadow: 2px 4px 4px rgba(98, 90, 248, 0.05);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      background-color: #f6f6f9;
      box-shadow: inset -2px 0 4px rgba(98, 90, 248, 0.05);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: -20px;
      background-color: #f6f6f9;
      box-shadow: inset 2px 0 4px rgba(98, 90, 248, 0.05);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .introduction {
      padding-left: 32px;
      padding-top: 40px;
      height: 280px;
      font-family: PingFang SC;
      font-style: normal;
      color: #777494;
      .title {
        padding-top: 20px;
        font-weight: bold;
        font-size: 36px;
        color: #1c184c;
        padding: 14px 0;
      }
      .tip {
        font-size: 24px;
        padding: 14px 0;
      }
      .type {
        font-size: 26px;
        color: #494670;
        padding: 14px 0;
      }
    }
    .img {
      position: absolute;
      right: 46px;
      top: 38px;
      width: 144px;
      height: 194px;
      margin-bottom: 68px;
    }
    .lineText {
      position: absolute;
      bottom: -15px;
      left: 140px;
      padding: 0 10px;
      font-size: 24px;
      font-weight: 400;
      color: #A4A3B7;
      background-color: white;
    }
  }
  .bottom {
    border-top: 2px dashed #ebeaff;
    padding: 32px 48px 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 4px 4px rgba(98, 90, 248, 0.05);
    .subtitle {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      color: #777494;
      margin-bottom: 12px;
    }
    .content {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      color: #494670;
      margin-bottom: 34px;
      margin-top: 10px;
    }
    .code {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .ticketNumber {
        width: 462px;
        height: 74px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        line-height: 74px;
        text-align: center;
        margin: 20px 0;
      }
    }
    .line {
      height: 30px;
      border-bottom: 1px dashed #CECDE8;
    }
  }
}
