.itemWrapper {
  padding: 80px 88px;
  .top {
    background: #ffffff;
    box-shadow: 2px 4px 4px rgba(98, 90, 248, 0.05);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -20px;
      background-color: #f6f6f9;
      box-shadow: inset -2px 0 4px rgba(98, 90, 248, 0.05);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: -20px;
      background-color: #f6f6f9;
      box-shadow: inset 2px 0 4px rgba(98, 90, 248, 0.05);
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .title {
      padding-left: 32px;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 500;
      font-size: 36rpx;
      line-height: 100px;
      color: #1c184c;
    }
    .img {
      width: 576px;
      height: 324px;
      margin-bottom: 68px;
    }
  }
  .bottom {
    border-top: 2px dashed #cecde8;
    padding: 32px 48px 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 4px 4px rgba(98, 90, 248, 0.05);
    .subtitle {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: normal;
      font-size: 28rpx;
      line-height: 32px;
      color: #777494;
      margin-bottom: 12px;
    }
    .content {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 500;
      font-size: 32rpx;
      line-height: 36px;
      color: #494670;
      margin-bottom: 34px;
    }
  }
}
