.top {
  width: 710px;
  height: 365px;
  margin: 0 auto 38px;
  border-radius: 20px;
  background: #ffffff;
  padding: 40px;
  box-sizing: border-box;
  .top_top {
    display: flex;
    margin-bottom: 54px;
    .avator {
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background-color: pink;
    }
    .top_left {
      margin-left: 28px;
      .name {
        color: #000000;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 6px;
        text-align: left;
        margin-bottom: 18px;
      }
      .info {
        color: #a4a3b7;
        font-family: PingFang SC;
        font-weight: medium;
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 12px;
      }
    }
  }
  .top_bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .pic {
      width: 68px;
      height: 60px;
      display: block;
      margin: auto;
    }
    .text {
      color: #a4a3b7;
      font-family: PingFang SC;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }
}

.list {
  width: 700px;
  margin: 0 auto;
  border-radius: 16px;
  background: #ffffff;
  padding: 0 40px;
  .feedback {
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
  }
  .about {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    align-items: center;
  }
  .text {
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
  }
  .icon {
    width: 34px;
    height: 34px;
  }
  .enter {
    margin-left: auto;
    width: 32px;
    height: 40px;
  }
}
