.top {
  width: 710px;
  height: 390px;
  margin: 0 auto 24px;
  border-radius: 20px;
  background: #ffffff;
  padding: 56px 34px;
  box-sizing: border-box;
  .top_top {
    display: flex;
    margin-bottom: 44px;
    .avator {
      display: block;
      width: 148px;
      height: 148px;
      border-radius: 50%;
      overflow: hidden;
    }
    .top_left {
      margin-left: 24px;
      margin-top: 8px;
      .name {
        color: #1c184c;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 6px;
        text-align: left;
        margin-bottom: 28px;
      }
      .info {
        color: #777494;
        font-family: PingFang SC;
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
        text-align: left;
        margin-bottom: 12px;
      }
    }
  }
  .top_bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .pic1 {
      width: 62px;
      height: 56px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 2px;
      display: block;
    }
    .pic2 {
      width: 68px;
      height: 66px;
      display: block;
      margin: auto;
    }
    .pic3 {
      width: 68px;
      height: 56px;
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 2px;
    }
    .text {
      color: #a4a3b7;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: bottom;
    }
  }
}

.list {
  width: 700px;
  margin: 0 auto;
  border-radius: 16px;
  background: #ffffff;
  padding: 0 40px;
  .feedback {
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
  }
  .about {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    align-items: center;
  }
  .text {
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
  }
  .icon {
    width: 34px;
    height: 34px;
  }
  .enter {
    margin-left: auto;
    width: 16px;
    height: 28px;
  }
}
