.wrapper {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  display: block;
  margin: 30px auto 0;
  height: 220px;
  padding-left: 60px;
}
