.wrapper {
  background-image: radial-gradient(
    ellipse at top,
    #fff,
    #fff 90%,
    #f6f6f9 90%
  );
  background-size: 900px 250px;
  background-position: center top;
  background-repeat: no-repeat;
  .swiper {
    width: 710px;
    height: 322px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 20px;
    .bannerItem {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  .slideWrapper {
    height: 202px;
    overflow: hidden;
    .slide {
      width: 100%;
      height: 220px;
      display: flex;
      overflow-x: auto;
      padding-top: 40px;
      .slideItem {
        width: 116px;
        height: 130px;
        padding-right: 69px;
        padding-top: 6px;
        text-align: center;
        box-sizing: content-box;
        &:first-child {
          padding-left: 40px;
        }
        &:last-child {
          padding-right: 40px;
        }
        .slideImg {
          width: 116px;
          height: 82px;
          margin-bottom: -5px;
        }
        .slideText {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 32px;
          color: #a4a3b7;
          text-align: center;
        }
      }
    }
  }
  .scrollBar {
    background: transparent;
    margin-bottom: 56px;
    .scrollBarBg {
      position: relative;
      width: 84px;
      height: 8px;
      background: #e8e8ed;
      border-radius: 5px;
      margin: 0 auto;
      overflow: hidden;
    }
    .scrollBarSlide {
      width: 52px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: rgba(98, 90, 248, 0.7);
      border-radius: 5px;
    }
  }
  .recentActivitiesWrapper {
    padding: 0 20px 20px;
    .title {
      margin-left: 8px;
      margin-bottom: 16px;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 36px;
      color: #1c184c;
    }
  }
}

.newIcon {
  width: 58px;
  height: 32px;
  position: relative;
  bottom: 140px;
  left: 55px;
}

.holder {
  margin-top: 200px;
}
