.wrapper {
  padding: 20px;
}

.emptyWrapper {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: 384px;
    height: 345px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .text {
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 32rpx;
    line-height: 56px;
    letter-spacing: 4px;
    text-align: center;
  }
  .btn {
    margin-top: 316px;
  }
}
