.wrapper {
  padding: 20px;
}
.wrapperBlank {
  padding: 0 ;
}

.emptyWrapper {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: 384px;
    height: 345px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .text {
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 4px;
    text-align: center;
  }
  .btn {
    margin-top: 316px;
  }
}

.popupButtom {
  color: white;
  font-size: 26px;
  width: 260px;
  // height: 60px;
  // line-height: 60px;
  border-radius: 100px;
  margin-top: 30px;
  background-color: #6360f4;
}
