.pic {
  display: block;
  width: 280px;
  height: 300px;
  margin: 180px auto 40px;
}
.tips1 {
  width: 528px;
  margin: 0 auto;
  color: #777494;
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}
.tips2 {
  width: 528px;
  margin: 0 auto;
  color: #777494;
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
}
.button {
  display: block;
  border-radius: 64px;
  background: #625af8;
  width: 572px;
  display: block;
  color: #ffffff;
  margin: 254px auto 0;
}

.copyPng {
  width: 44px;
  height: 29px;
  padding-left: 20px;
  padding-bottom: 5px;
}
