.wrapper {
  padding: 30px;
  .res_item {
    //height: 532px;
    margin-bottom: 48px;
    width: 100%;
    .time {
      font-size: 26px;
      text-align: center;
      color: #777494;
    }
    .detail_wrapper {
      width: 690px;
      //height: 480px;
      background-color: #fff;
      border-radius: 16px;
      margin-top: 20px;
      box-sizing: border-box;
      padding: 48px 36px;
      .title {
        font-size: 36px;
        font-weight: 700;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-family: PingFang SC;
        .tag {
          height: 32px;
          color: #625AF8;
          font-size: 18px;
          display: inline-block;
          border: 1px solid #625af8;
          border-radius: 2px 14px 14px 14px;
          text-align: center;
          line-height: 32px;
          margin-left: 20px;
          vertical-align: bottom;
          padding: 0 16px;
          box-sizing: border-box;
        }
      }
      .content {
        margin-top: 28px;
        font-size: 28px;
        color: #777494;
      }
      .img_wrapper {
        margin-top: 24px;
        .img {
          width: 196px;
          height: 196px;
          border-radius: 20px;
          margin-right: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .un_reply {
    color: #777494;
    position: relative;
    text-align: center;
    margin-top: 100px;
    .icon {
      display: block;
      width: 360px;
      height: 284px;
      margin: 0 auto 50px auto;
    }
  }
}
