.wrapper {
  padding: 20px;
}

.replyBtn {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-286px);
  width: 572px;
  height: 92px;
  border-radius: 50px;
  color: white;
  background-color: #625AF8;
}