.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 22px 30px;
  background-color: rgba(246, 246, 249, 0.8);
  .history_btn {
    float: right;
    font-family: PingFang SC;
    /* identical to box height, or 120% */
    align-items: center;
    color: #494670;
    font-weight: 700;
    font-size: 30px;
  }
  .common_ques {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 28px;
    margin-top: 60px;
    border-radius: 20px;
    .ques_item {
      position: relative;
      box-sizing: border-box;
      height: 134px;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      line-height: 132px;
      font-weight: 700;
      font-family: PingFang SC;
      .icon_img {
        position: absolute;
        width: 16px;
        height: 28px;
        top: 60px;
        right: 32px;
      }
    }
  }

  .ask_question {
    width: 568px;
    height: 84px;
    background-color: #625AF8;
    border-radius: 100px;
    text-align: center;
    line-height: 84px;
    font-family: PingFang SC;
    color: #fff;
    margin: 72px auto;
  }
  .add_group {
    margin: 60px auto 0 auto;
    color: #A4A3B7;
    font-size: 28px;
    text-align: center;
    .group_num {
      display: inline-block;
      color: #625af8;
    }
  }
}

