.wrapper {
    padding: 30px 0;
    .container {
        width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .content {
            width: 690px;
            border-radius: 16px;
            background-color: #FFFFFF;
            padding: 50px 25px 40px 22px;
            display: flex;
            flex-flow: column;

            .appellation {
                font-size: PingFang SC;
                font-weight: 700;
                font-size: 32px;
                line-height: 36px;
                color: #494670;
            }

            .desc {
                margin-top: 32px;
                font-family: PingFang SC;
                font-weight: normal;
                color: #777494;
                font-size: 28px;
                line-height: 60px;
                letter-spacing: 5%;
            }

            .copyPng {
                width: 26px;
                height: 22px;
                margin-left: 20px;
            }
        }
    }
}