.wrap {
  position: relative;
  height: 100vh;
  .scanWrap {
    margin: 0 auto;
    width: 266px;
    height: 266px;
    padding-top: 144px;
    .scan {
      width: 266px;
      height: 266px;
    }
  }

  .footer {
    position: absolute;
    bottom: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .icon {
      width: 80px;
      height: 80px;
      display: block;
    }
    .text {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.03em;
      color: #a4a3b7;
    }
  }
}
