.wrap {
  position: relative;
  height: 100vh;
  .scanWrap {
    margin: 0 auto;
    width: 266px;
    height: 266px;
    padding-top: 144px;
    transform: rotate(-15deg);
    .scan {
      width: 266px;
      height: 266px;
      animation-name: waggle;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
      margin-left: -40px;
    }
  }
  @keyframes waggle {
    0%,
    7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
  }
  .footer {
    position: absolute;
    bottom: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .icon {
      width: 80px;
      height: 80px;
      display: block;
    }
    .text {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.03em;
      color: #a4a3b7;
    }
  }
}
