.wrapper {
  height: 100vh;
  background-color: #ffffff;
  padding: 0 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: 500;
    font-size: 48px;
    line-height: 76px;
    align-self: flex-start;
    margin-bottom: 32px;
  }
  .form {
    display: flex;
    flex-direction: column;
    .formItem {
      .formTitle {
        display: flex;
        align-items: center;
        color: #494670;
        font-family: PingFang SC;
        font-weight: 500;
        font-size: 28px;
        line-height: 48px;
        .titleIcon {
          margin-right: 9px;
          margin-left: 18px;
          width: 32px;
          height: 32px;
        }
      }
      .itemWrapper {
        height: 84px;
        border-radius: 122px;
        border: 2px solid #cdcce0;
        margin: 8px 0;
        margin-bottom: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 52px;
        padding-right: 32px;
        .input {
          height: 40px;
          line-height: 40px;
          color: #1c184c;
          font-family: PingFang SC;
          font-weight: 500;
          font-size: 32px;
        }
        .placeholder {
          color: #a4a3b7;
          font-family: PingFang SC;
          font-size: 30px;
          line-height: 48px;
        }
        .icon {
          width: 42px;
          height: 36px;
        }
      }
    }
  }
  .btn {
    margin-top: 56px;
    width: 622px;
    color: #ffffff;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
  .copyright {
    margin-top: auto;
    margin-bottom: 56px;
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
  }
}
