.list{
    font-family: PingFang SC;
    .title{
        position: absolute;
        top: 60px;
        left: 86px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: bold;
        color: #494670;
    }
    .input{
        width: 622px;
        height: 88px;
        border-radius: 44px;
        border-left: 52px;
        background-color: #ffffff;
        border: 1.5px solid #CDCCE0;
        position: absolute;
        left: 64px;
        top: 116px;
        display: flex;
        align-items: center;
        .inputcontent{
            width: 342px;
            height: 88px;
            color: #A4A3B7;
            margin:0 0 0 40px;
        }
        .resend{
            color: #A4A3B7;
            margin-right: 40px;
            text-align: right;
            margin-left: auto;
        }
    }
    .contect{
        color: #777494;
        position: absolute;
        font-size: 28px;
        right: 62px;
        top: 214px;
    }
    .prompt{
        color: #FF6195;
        position: absolute;
        font-size: 28px;
        margin-top: 214px;
        margin-left: 86px;
    }
    .message{
        color: #ffffff;
        width: 516px;
        height: 80px;
        position: absolute;
        background: #6F7FAF;
        top: 436px;
        left: 118px;
        border-radius: 60px;
        text-align: center;
        line-height: 80px;
    }
}
.next{
    position: absolute;
    top: 652px;
    left: 64px;
    width: 622px;
    height: 92px;
    color:#ffffff;
    background: #CECDE8;
    border-radius: 64px;
}
.nextActive{
    position: absolute;
    top: 652px;
    left: 64px;
    width: 622px;
    height: 92px;
    color:#ffffff;
    background: #625AF8;
    border-radius: 64px;
}
.cover{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0; 
    z-index: 999;
}
.popup{
    position: relative;
    width: 510px;
    height: 374px;
    z-index: 1000;
    left: 124px;
    top: 292px;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    .success{
        margin-top: 40px;
        width: 340px;
        height: 146px;
    }
    .txt{
        position: absolute;
        top: 264px;
        left: 116px;
    }
}