.swiper {
  height: 1280px;
}

.btn {
  margin: 60px auto 40px;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
}

.tips {
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #a4a3b7;
}
