.wrapper {
  height: 100vh;
  background: #ffffff;
  .pic {
    width: 100vw;
    height: 376px;
    margin-bottom: 0;
    display: block;
  }

  .card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #ffffff;
    margin-top: -24px;
    padding-bottom: 48px;
  }
  .item1 {
    padding-bottom: 30px;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      font-weight: bold;
      padding-top: 48px;
      .name {
        color: #1c184c;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 40px;
        text-align: left;
        margin-right: 16px;
      }
      .status {
        width: 94px;
        height: 38px;
        line-height: 38px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 5px;
        border-top-right-radius: 16px;
        background: #ebeaff;
        color: #625af8;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
    .timeWrap {
      display: flex;
      color: #777494;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 12px;
      .label {
        font-size: 28px;
      }
      .time {
        margin-right: 0;
        margin-left: auto;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 3px;
        font-family: DIN;
      }
    }
  }
}
.border {
  border-top: 6px solid rgba(28, 24, 76, 0.03);
  border-bottom: 6px solid rgba(28, 24, 76, 0.03);
}
.item2 {
  margin: 40px 0;

  .subTitle {
    color: #1c184c;
    font-family: PingFang SC;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .text {
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 28px;
    text-align: left;
  }
}

.button {
  width: 360px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  color: #ffffff;
  font-family: PingFang SC;
  font-size: 36px;
  background: #625af8;
  border-radius: 64px;
  margin: 52px auto 0;
}

.dis_button {
  width: 458px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  color: #ffffff;
  font-family: PingFang SC;
  font-size: 36px;
  background: #cecde8;
  border-radius: 64px;
  margin-top: 52px;
  margin: 52px auto 0;
}

.icon {
  width: 46px;
  height: 40px;
  padding-right: 8px;
  vertical-align: top;
}
