.list{
    font-family: PingFang SC;
    .title{
        position: absolute;
        top: 60px;
        left: 86px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: bold;
        color: #494670;
        .reset{
        width: 32px;
        height: 32px;
        margin-right: 10px;
        }
    }
    .input{
        width: 622px;
        height: 88px;
        border-radius: 44px;
        border-left: 52px;
        background-color: #ffffff;
        border: 1.5px solid #CDCCE0;
        position: absolute;
        left: 64px;
        top: 116px;
        display: flex;
        align-items: center;
        .inputcontent{
            width: 542px;
            height: 88px;
            color: #A4A3B7;
            margin:0 40px;
        }
    }
    .forget {
        color: #777494;
        position: absolute;
        right: 62px;
        top: 216px;
    }
}
.prompt{
    color: #FF6195;
    position: absolute;
    font-size: 26px;
    margin-left: 20px;
    top: 280px;
}
.next{
    position: absolute;
    top: 412px;
    left: 64px;
    width: 622px;
    height: 92px;
    color:#ffffff;
    background-color: #CECDE8;
    border-radius: 64px;
}
.nextActive{
    position: absolute;
    top: 412px;
    left: 64px;
    width: 622px;
    height: 92px;
    color:#ffffff;
    background-color: #625AF8;
    border-radius: 64px;
}
.cover{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0; 
    z-index: 999;
}
.popup{
    position: absolute;
    width: 510px;
    height: 374px;
    z-index: 1000;
    left: 124px;
    top: 292px;
    background-color: #ffffff;
    border-radius: 16px;
    .success{
        margin: 80px 80px 0 100px;
        width: 340px;
        height: 146px;
    }
    .txt{
        text-align: center;
        display: block;
        margin: 30px 60px;
    }
}
.popWindow{
    width: 100vw;
    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
    text-align: center;
    font-family: PingFang SC;
    position: fixed;
    bottom: 0;
    transform: translate3d(0, 150%, 0);
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
    .title{
        display: block;
        font-size: 28px;
        color: #777494;
        padding:0 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #f2f2f2;
    }
    .cancel{
        width: 26px;
        height: 26px;
        position: absolute;
        top: 26px;
        right: 22px;
    }
    .quesList>View{
        height: 112px;
        line-height: 112px;
        text-align: left;
        margin: 0 52px;
        border-bottom: 1px solid #f2f2f2;
    }
    .quesList:last-child{
        margin-bottom: 40px;
    }
}
.popWindowActive{
    width: 100vw;
    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
    text-align: center;
    font-family: PingFang SC;
    position: fixed;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
    .title{
        display: block;
        font-size: 28px;
        color: #777494;
        padding:0 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #f2f2f2;
    }
    .cancel{
        width: 26px;
        height: 26px;
        position: absolute;
        top: 26px;
        right: 22px;
    }
    .quesList>View{
        height: 112px;
        line-height: 112px;
        font-weight: bold;
        text-align: center;
        margin: 0 52px;
        border-bottom: 1px solid #f2f2f2;
        transition: all 1s ease-in-out;
    }
    .quesList:last-child{
        margin-bottom: 40px;
    }
}