page {
  min-height: 100vh;
  background-color: #F6F6F9;
}

button {
  border-radius: 0;
  background-color: #fff;
  margin-left: unset;
  margin-right: unset;
  padding-left: unset;
  padding-right: unset;
  box-sizing: unset;

  &::after {
    border: none;
  }
}
