.wrapper {
  padding: 22px 20px;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
    .title {
      font-weight: bold;
      font-size: 34px;
      letter-spacing: 0.06em;
      color: #a4a3b7;
      opacity: 0.9;
      padding: 48px 0;

      &.active {
        color: #1c184c;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          background-image: url("../../../../static/images/underline.png");
          width: 52px;
          height: 18px;
          background-repeat: no-repeat;
          background-size: 98%;
          background-position: center;
          bottom: 20px;
          left: 50%;
          transform: translateX(-26px);
        }
      }
    }
  }
  .card {
    border-radius: 20px;
    background: #ffffff;
    padding: 40px 30px 36px 40px;
    margin-bottom: 24px;
    .cardTop {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .cardName {
        color: #1c184c;
        font-family: PingFang SC;
        font-weight: bold;
        font-size: 32px;
        text-align: left;
      }
      .cardTime {
        color: #ff6195;
        font-family: PingFang SC;
        font-size: 28px;
        text-align: left;
        margin-right: 0;
        margin-left: auto;
      }
      .cardTimeGray {
        color: #cdcce0;
        margin-right: 0;
        margin-left: auto;
        font-family: PingFang SC;
        font-size: 28px;
        text-align: left;
      }
    }
    .cardInfo {
      color: #b1aec1;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 28px;
      text-align: left;
      color: #777494;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; //需要显示的行数
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
