.gooey {
  width: 100vw;
  height: 100vh;
  background: white;
  filter: contrast(20);
  .loading {
    width: 250px;
    height: 220px;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -110px;
  }
}
