.wrapper {
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-right: 32px;
  padding-left: 26px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 24px 0;
  .img {
    width: 120px;
    height: 120px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    margin-top: 8px;
    .title {
      color: #1c184c;
      font-family: PingFang SC;
      font-weight: 500;
      font-size: 34rpx;
      line-height: 36px;
      margin-bottom: 16px;
    }
    .organization {
      color: #a4a3b7;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 30rpx;
      line-height: 32px;
    }
  }
  .icon {
    margin-left: auto;
    width: 16px;
    height: 28px;
  }
}
