.wrapper {
  padding-left: 32px;
  padding-right: 32px;
  .title {
    width: 288px;
    height: 152px;
    margin-top: 62px;
    margin-bottom: 16px;
    color: #1c184c;
    font-family: PingFang SC;
    font-weight: 500;
    font-size: 48rpx;
    text-align: left;
  }
  .form {
    height: 522px;
    border-radius: 20px;
    background: #ffffff;
    padding-top: 64px;
    padding-left: 58px;
    .formLabel {
      color: #a4a3b7;
      font-family: PingFang SC;
      font-weight: 400;
      font-size: 28rpx;
      text-align: left;
      margin-bottom: 16px;
    }
    .formInput {
      height: 40px;
      margin-bottom: 48px;
      color: #1c184c;
      font-family: DIN;
      font-weight: 400;
      font-size: 32rpx;
      text-align: left;
    }
  }
  .tips {
    color: #a4a3b7;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 26rpx;
    padding-left: 22px;
    margin-top: 32px;
  }
  .buttonPush {
    border-radius: 64px;
    background: #625af8;
    width: 572px;
    height: 92px;
    color: #efeffe;
    margin: 178px auto 0;
  }
  .button {
    background: #cecde8;
    color: #ffffff;
    border-radius: 64px;
    width: 572px;
    height: 92px;
    margin: 178px auto 0;
  }
}
