.wrapper {
  background-color: white;
  // height: 284px;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 20px;
}
.title {
  color: #494670;
  font-weight: bold;
  font-size: 32px;
}
.reply {
  color: #777494;
  margin-top: 15px;
  line-height: 56px;
  font-size: 28px;
}