@font-face {
  font-family: XuanRen;
  src: url(https://cdn.redrock.team/static/XuanRen.ttf);
}

@font-face {
  font-family: REEJI-HonghuangLiGB;
  src: url(../../../../static/fonts/REEJI-HonghuangLiGB.ttf);
}
.wrapper {
  background: #f6f6f9;
  min-height: 100vh;
  .card {
    width: 690px;
    height: 328px;
    border-radius: 16px;
    margin: 40px auto;
    padding: 40px 40px 36px;
    box-sizing: border-box;
    background-size: cover;
  }
  .top {
    display: flex;
    .teamName {
      font-family: XuanRen;
      line-height: 56px;
      letter-spacing: 0.05em;
      font-size: 44px;
      color: #fff;
    }
  }

  .footer {
    margin-top: 110px;
    color: #fff;
    .title {
      margin-bottom: 8px;
      font-family: XuanRen;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: 0.05em;
    }
    .time {
      font-weight: 900;
      font-size: 28px;
      font-family: REEJI-HonghuangLiGB;
      line-height: 30px;
    }
  }

  .btn {
    width: 356px;
    height: 90px;
    position: fixed;
    bottom: 40px;
    left: 25%;
    background: #625af8;
    border-radius: 64px;
    font-size: 36px;
    line-height: 90px;
    color: #ffffff;
  }
}

.emptyWrapper {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: 384px;
    height: 345px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .text {
    color: #777494;
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: 4px;
    text-align: center;
  }
  .btn {
    margin-top: 316px;
  }
}
